<div>
    <h2>Measurements</h2>
    <table>
        <tr>
            <th>Sensor Name</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Time</th>
        </tr>
        <tr *ngFor="let sensor of SensorMeasurementRepository">
            <td>{{ sensor.latestMeasurement?.sensorname }}</td>
            <td>{{ sensor.latestMeasurement?.measurementtemperature }}</td>
            <td>{{ sensor.latestMeasurement?.measurementhumidity }}</td>
            <td>{{ sensor.latestMeasurement?.measurementtime }}</td>
        </tr>
    </table>
</div>