<Page>
    <ActionBar title="Sensors"></ActionBar>

    <GridLayout rows="auto, auto, *">
        <Label class="label-header" text="All Sensors" row="0"></Label>
        <Label class="label-subheader" text="Click on a sensor for details" row="1"></Label>

        <ListView [items]="SensorMeasurementRepository" row="2">
            <ng-template let-item="item">
                <StackLayout class="sensor-item-container" (tap)="onSensorTap(item)">
                    <Label class="sensor-item" [text]="item.sensorname"></Label>
                    <Label class="sensor-details" [text]="'Temperature: ' + item.latestMeasurement?.measurementtemperature"></Label>
                    <Label class="sensor-details" [text]="'Humidity: ' + item.latestMeasurement?.measurementhumidity"></Label>
                    <Label class="sensor-details" [text]="'Time: ' + item.latestMeasurement?.measurementtime"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</Page>
